$grid-breakpoints: (
  xs: 300px,
  sm: 376px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

.d-sm-flex {
  display: none !important;
}

@media (min-width: 376px) {
  .d-sm-flex {
    display: flex !important;
  }
}

.hover-bg:hover {
  background-color: rgba(0, 229, 117, 0.1);
}

@import '~bootstrap/scss/bootstrap';
